<nav class="navbar navbar-dark bg-inverse ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">StudCloud</a>
        <div id="navbar">

            <nav class="nav navbar-nav pull-md-right">
                <a class="nav-item nav-link" href="#">Настройки</a>
                <a class="nav-item nav-link" href="#" onclick="Auth.logout();">Выход</a>
            </nav>
            <form class="pull-md-left">
                <input type="text" class="form-control" placeholder="Search...">
            </form>

        </div>

    </div>
</nav>
